<img class="img-fluid" src="../../../assets/img/logo.png" routerLink="dashboard">
<mat-nav-list>

  <a mat-list-item routerLink="stock">
    <span mat-line><span class="mat-h4">Stock</span></span>
    <img matListAvatar
      src="https://www.flaticon.com/svg/vstatic/svg/2979/2979720.svg?token=exp=1617607579~hmac=32e1294b6c5ab736ae151e416c9461c2"
      alt="">
  </a>

  <a mat-list-item routerLink="orders">
    <span mat-line><span class="mat-h4">Orders</span></span>
    <img matListAvatar
      src="https://image.freepik.com/free-vector/shopping-basket-shopping-store-mall-supermarket-realistic_1284-10232.jpg"
      alt="">
  </a>

  <a mat-list-item routerLink="reports">
    <span mat-line><span class="mat-h4">Reports</span></span>
    <img matListAvatar
      src="https://www.flaticon.com/svg/vstatic/svg/3094/3094929.svg?token=exp=1617607684~hmac=9c87b4619281d0b0cf2b67607f383323"
      alt="">
  </a>

  <a mat-list-item routerLink="customers">
    <span mat-line><span class="mat-h4">Customers</span></span>
    <img matListAvatar
      src="https://www.flaticon.com/svg/vstatic/svg/4185/4185556.svg?token=exp=1617607823~hmac=60643cc6cea7d77761d79f3e817284b8"
      alt="">
  </a>

  <mat-divider></mat-divider>

</mat-nav-list>
