<img class="img-fluid" src="../../../assets/img/logo.png" alt="">
<mat-nav-list>

  <div mat-subheader>Backoffice</div>

  <a mat-list-item>
    <span mat-line>Stock</span>
    <img matListAvatar
      src="https://www.flaticon.com/svg/vstatic/svg/2979/2979720.svg?token=exp=1617607579~hmac=32e1294b6c5ab736ae151e416c9461c2"
      alt="">
  </a>

  <a mat-list-item>
    <span mat-line>Report</span>
    <img matListAvatar
      src="https://www.flaticon.com/svg/vstatic/svg/3094/3094929.svg?token=exp=1617607684~hmac=9c87b4619281d0b0cf2b67607f383323"
      alt="">
  </a>

  <a mat-list-item>
    <span mat-line>Users</span>
    <img matListAvatar
      src="https://www.flaticon.com/svg/vstatic/svg/4185/4185556.svg?token=exp=1617607823~hmac=60643cc6cea7d77761d79f3e817284b8"
      alt="">
  </a>

  <mat-divider></mat-divider>

</mat-nav-list>
